<!DOCTYPE html>
<html>	
<head>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../static/css/style.css" rel='stylesheet' type='text/css' />
<script src="../static/JS/login.js"></script>
<script src="../static/JS/jquery-3.3.1.min.js"></script>
<script src="../static/JS/jquery.form.js"></script>
</head>
<body>
 <!--SIGN UP-->
 <h1>欢 迎！</h1>
<div class="login-form">
	<div class="close"> </div>
		<div class="head-info">
			<label class="lbl-1"> </label>
			<label class="lbl-2"> </label>
			<label class="lbl-3"> </label>
		</div>
			<div class="clear"> </div>
	<div class="avtar">
		<img src="../static/images/avtar.png" />
	</div>
	<form action="login_form" method="POST" id="form1" name="form1">
		<input type="text" class="text" id="recipient-name" name="recipient-name" value="用户名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '用户名';}" >
		<div class="key">
			<input type="password"  id="message-text" name="message-text" value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
		</div>
			
		<div align="right" style = "height:35px;">
		<a class="register" type="submit"  href="{{ url_for('regest') }}" >如果没有账号，请点此注册！</a>
	</div>
						
	<div class="signin">
		<input type="submit" value="Submit" onclick="ajaxLogin()" >
	</div>
	</form>
							

			
			
			
	
	

			
</div>


</body>
</html>